*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/* Header */

header{
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 80vw;
    margin: 0 auto;
    margin-top: 5rem;
    height: 65px;
}

h1{
    font-size: 40px;
    color: lightslategray;
    color: rgb(48, 137, 48);

}

/* Navbar */

header .navbar{
    display: flex;
    background-color: whitesmoke;
    height: 100px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
    
   }


header .navbar li a{
    padding: 0 35px;
    font-size: 25px;
    color: lightslategray;
}

/* Icons */

header .icons{
    display: flex;
    font-size: 40px;
}

header .icons li{
    padding: 0 5px;
}
header .icons a{
    color: black;
    padding: 5px;
}

